{% extends 'Index.html' %}
{% block top_title %}Все новости{% endblock %}

{% block content %}
<h1>Новости</h1>

{% if not news | length %}
    <p class="lead">Новостей пока нет</p>
{% else %}

    {% for article in news %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {% if article.title is empty  %}
                        <a href="/news/one?id={{ article.pk }}">Без названия</a>
                    {% else %}
                        <a href="/news/one?id={{ article.pk }}">{{ article.title }}</a>
                    {% endif %}
                </h3>
            </div>
            <div class="panel-body">
                {% if article.pubday is empty  %}
                    Не опубликована
                {% else %}
                    Дата публикации: {{ article.pubday }}
                {% endif %}

            </div>
        </div>
    {% endfor %}
{% endif %}

{% endblock %}